p {
    margin: 0;
}

.numberNameDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
}
.nameMain {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 33%;
    flex-shrink: 0;
    border-radius: 20px;
}

.name {
    font-weight: 600;
    color: #0090d0;
    margin: 0;
}

.number {
    color: grey;
    margin: 0;
}


.nameNumDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 24px;
}

.timeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    color: #6C6C6C;
}

.descAndImg {
    display: flex;
    gap: 20px;
}

.descTitle {
    color: #0090d0;
    margin: 0;
}

.descDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.descDiv p {
    font-weight: 500;
}

.descWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.img {
    width: 166px;
    border-radius: 23px;
}

@media (max-width:500px) {
    .img {
        width: 100px;
        height: 100px;
    }

    .descWrap {
        gap: 0;
    }
    .descDiv {
        margin-bottom: 10px;
    }
}